@charset "utf-8";

/* CSS Document */
body, td, th, p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #333;
  line-height: 1.5;
}

html, body {
  background-color: #fdfdfd;
  margin: 0;
  position: relative;
  width: 100%;
  height: 100%;
}

ul, li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #333;
}

a {
  color: orange;
  text-decoration: none;
}

a:hover, a:focus {
  color: #3397db;
  text-decoration: none;
}

a img {
  border: none 0px #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}

/* h3{
  color: orange;
} */

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

.container {
  display: flex;
  flex-wrap: wrap;
  min-width: 320px;
}

#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
  /* width: 100%; */
}

#footer {
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px 0;
  text-align: center;
  text-transform: uppercase;
}

header, main, footer {
  width: 100%;
}

/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 30%;
  background-color: #252831;
  text-align: center;
}

nav h1 {
  margin: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

nav h1 a {
  color: #fff;
  font-size: 16pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}

#breadcrumb {
  /* padding: 10px 40px 16px; */
  padding: 5px 5px;
  list-style: none;
  background-color: #eee;
  font-size: 17px;
  margin: 0;
  /* width: calc(50% - 80px); */
}

/* Display list items side by side */
#breadcrumb li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}

/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  /* height: 100%; */
  height: auto;
  background-color: #9A8265;
  align-items: center;
  /* padding-top: 15px; */
  display: flex;
  flex-wrap: wrap;
}

.filter-options h2 {
  color: white;
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 1;
  margin: 10px 20px;
  padding: 5px 5px;
}

.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial, sans-serif;
  font-size: 1.2em;
  height: 25px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}

.filter-selects {
  align-items: center-left;
  margin: 0px 0px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 6px;
  text-align: center;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  text-align: center;
}

#restaurants-list li {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5%;
  font-family: Arial, sans-serif;
  margin: 10px;
  padding: 10px;
  text-align: center;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#restaurants-list li a:focus,.filter-options select:focus{
  border: solid 4px #f18200;
}

#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  border-radius: 5%;
  max-width: 100%;
  max-height: 200px;
}

#restaurants-list li h3 {
  color: #f18200;
  font-family: Arial, sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  min-height: 40px;
  text-transform: uppercase;
  text-align: center;
}

#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}

#restaurants-list li a {
  background-color: orange;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 30px;
}

/* ====================== Restaurant Details ====================== */
.inside {
  padding: 3px 3px;
  background-color: #252831;


  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden !important;
}

.inside #map-container {
  height: 200px;
  width: 100%;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  margin: auto;
}

.inside #map {
  background-color: #ccc;
  height: 100%;
  width: auto;
  margin: auto;
}

.inside #footer {
  bottom: 0;
  width: 100%;
}

#restaurant-container {
  margin: auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: nowrap;
  flex-flow: row;
  justify-content: space-evenly;
  align-items: baseline;
}

.restaurant-info {
  width: 50%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  justify-content: space-evenly;
  margin-left: 10px;
}

/*  /* TESTING */
#restaurant-name {
  color: #f18200;
  font-family: Arial, sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 10px 0 20px;
  text-transform: uppercase;
  line-height: 1.1;
}

#restaurant-img {
  margin: auto;
  width: 100%;
  height: auto;
  align-self: center;
  border-radius: 5%;
}

#restaurant-address {
  font-size: 12pt;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  /* margin: 0 0 20px; */
  margin-left: auto;
  margin-right: auto;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  width: 90%;
}

#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  width: 90%;
}

#reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  margin: auto;
  justify-content: space-around;
  align-items: baseline;
}

#reviews-container h3 {
  color: #f58500;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-left: 10px;
}

#reviews-list {
  margin: 0;
  padding: 0;
}

#reviews-list li {
  border-radius: 20px 0px 20px 0px;
  background-color: #fff;
  display: block;
  list-style-type: none;
  margin: auto;
  margin-bottom: 20px;
  overflow: hidden;
  width: 85%;
}

#reviews-list li p {
  margin: 0 0 10px;
}

#restaurant-hours td {
  color: #666;
  background-color: #fff;
  font-size: 10pt;
  font-weight: 300;
}

#reviews-list li>p:nth-child(1) {
  color: orange;
  background: #333;
  width: 100%;
  padding: 8px;
  border-radius: 20px 0px 0 0px;
  font-weight: 700;
}

#reviews-list li>p:nth-child(2) {
  margin-left: 10px;
  color: #676767;
}

#reviews-list li>p:nth-child(3) {
  margin-left: 10px;
  width: 60px;
  background-color: #f18200;
  color: white;
  padding: 0 2px;
}

#reviews-list li>p:nth-child(4) {
  margin: 10px;
}

#restaurant-hours {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid white;
}

.restaurant-intro {
  width: 50%;
  text-align: center;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
}

/* @media only screen and (max-width: 600px) {
  .inside {
    display: flex;
    flex-direction: row;
    width: 100vw
  }

  header #breadcrumb {
    order: 1;
    width: 100vw;
    padding-right: 0;
    padding-left: 0;
    text-align: center;
  }
  .inside #map-container {
    order: 2;
    top: 130px;
    position: relative;
    height: 300px;
    width: 100vw;
  }
  .inside #restaurant-container {
    order: 3;
    position: relative;
    width: 100vw;
    padding: 140px 5px 0 0;
    margin: auto;
    text-align: center;
  }
  .inside #reviews-container {
    width: 100vw;
    padding: 5px;
    margin: auto;
  }
  .inside #footer {
    order: 4;
    width: 100vw;
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
  }
  #reviews-list {
    width: 100vw;
  }
  #reviews-container h2 {
    text-align: center;
  }
}

/* @media only screen and (min-width: 700px){
	#restaurants-list {
	  background-color: #f3f3f3;
	  list-style: outside none none;
	  margin: 0;
	  padding: 10px 5px 5px;
	  text-align: center;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;

	}
	#restaurants-list li {
	  background-color: #fff;
	  border: 2px solid #ccc;
	  font-family: Arial,sans-serif;
	  margin: 15px;
	  min-height: 380px;
    padding-bottom: 0;
	  text-align: left;
	  width: 250px;
		height: 450px;
	}
	#restaurants-list .restaurant-img {
	  background-color: #ccc;
	  display: block;
	}
} */
